<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Designed by Ivan Ruiz
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SoftwareWorkProductModel -->
      <package
            uri="http://spi-fm.uca.es/spdef/models/deployment/swpm/1.0"
            class="es.uca.spifm.spdt.deployment.swpm.SwpmPackage"
            genModel="src/main/resources/es/uca/spifm/spdt/deployment/swpm/SoftwareWorkProductModel.genmodel"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SoftwareProjectControlModel -->
      <package
            uri="http://spi-fm.uca.es/spdef/models/deployment/spcm/1.0"
            class="es.uca.spifm.spdt.deployment.spcm.SpcmPackage"
            genModel="src/main/resources/es/uca/spifm/spdt/deployment/spcm/SoftwareProjectControlModel.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated WikiModel -->
      <package
            uri="http://spi-fm.uca.es/spdef/models/genericTools/wikim/1.0"
            class="es.uca.spifm.spdt.genericTools.wikim.WikimPackage"
            genModel="src/main/resources/es/uca/spifm/spdt/genericTools/wikim/WikitoolModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VisualModelingtoolModel -->
      <package
            uri="http://spi-fm.uca.es/spdef/models/genericTools/vmm/1.0"
            class="es.uca.spifm.spdt.genericTools.vmm.VmmPackage"
            genModel="src/main/resources/es/uca/spifm/spdt/genericTools/vmm/VisualModelingtoolModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IssueTrackingtoolModel -->
      <package
            uri="http://spi-fm.uca.es/spdef/models/genericTools/itm/1.0"
            class="es.uca.spifm.spdt.genericTools.itm.ItmPackage"
            genModel="src/main/resources/es/uca/spifm/spdt/genericTools/itm/IssueTrackingtoolModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MediaWikiModel -->
      <package
            uri="http://spi-fm.uca.es/spdef/models/specificTools/mwm/1.0"
            class="es.uca.spifm.spdt.specificTools.mwm.MwmPackage"
            genModel="src/main/resources/es/uca/spifm/spdt/specificTools/mwm/MediaWikiModel.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EnterpriseArchitectModel -->
      <package
            uri="http://spi-fm.uca.es/spdef/models/specificTools/eam/1.0"
            class="es.uca.spifm.spdt.specificTools.eam.EamPackage"
            genModel="src/main/resources/es/uca/spifm/spdt/specificTools/eam/EnterpriseArchitectModel.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RedmineModel -->
      <package
            uri="http://spi-fm.uca.es/spdef/models/specificTools/redm/1.0"
            class="es.uca.spifm.spdt.specificTools.redm.RedmPackage"
            genModel="src/main/resources/es/uca/spifm/spdt/specificTools/redm/RedmineModel.genmodel"/>
   </extension>

</plugin>
